@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bitter";
  src: url(../public/fonts/Bitter/static/Bitter-Light.ttf) format("truetype"),
    url(../public/fonts/Bitter/static/Bitter-Bold.ttf) format("truetype"),
    url(../public/fonts/Bitter/static/Bitter-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "GeoSans";
  src: url(../public/fonts/geo_sans_light/GeosansLight-Oblique.ttf)
      format("truetype"),
    url(../public/fonts/geo_sans_light/GeosansLight.ttf) format("truetype");
}
@font-face {
  font-family: "Merrweather";
  src: url(../public/fonts/Merriweather/Merriweather-Regular.ttf)
      format("truetype"),
    url(../public/fonts/Merriweather/Merriweather-Bold.ttf) format("truetype"),
    url(../public/fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
}
body {
  scroll-behavior: smooth !important;
  font-family: "Merrweather";
  background-color: #000;
  transition: 0.5s ease-out;
}
.scroll-watch {
  height: 8px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #414141;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
.focus-in-contract-bckOne {
	-webkit-animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 2s;
}
.focus-in-contract-bckTwo {
	-webkit-animation: focus-in-contract-bck 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 3s;
}

 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
@keyframes dancingMoon {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes starScale {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1.1);
  }
}
.starone {
  animation: starScale 2s ease infinite;
}

.heyvanyer {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 3rem;
}
#particles {
  background: black;
}

@keyframes iconHero {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.icon-hero {
  animation: iconHero 3s ease infinite;
}
.hero-title {
  box-shadow: inset -0.1px -0.8px 5px rgba(255, 255, 255, 0.26),
    inset 0px 4px 2px rgba(3, 3, 3, 0.508);
}
#tsparticles canvas {
  height: 90rem !important;
  width: 99vw !important;
  z-index: -30;
}

.img-moon {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-two {
  color: #ecf39e;
}
#textMoon {
  width: 100rem ;
}
.container-airplanes {
  padding-top: 24rem;
  overflow: hidden;
}
.airplane {
  transform: translateX(1400px);
  scale: 2;
}
.warrper1 {
  width: 95%;
  max-width: 1563px;
  margin-inline: auto;
  position: relative;
  height: 150px;
  margin-top: 2rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.warrper2 {
  width: 95%;
  max-width: 1563px;
  margin-inline: auto;
  position: relative;
  height: 200px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
@keyframes scrollHarizontal1 {
  to {
    left: -500px;
  }
}
@keyframes scrollHarizontal2 {
  to {
    right: -500px;
  }
}
.items1 {
  height: auto;
  width: 550px;
  border-radius: 1.2rem;
  position: absolute;
  padding: 0 1.5rem;
  left: 100%;
  margin-inline: auto;
  animation-name: scrollHarizontal1;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  mask-image: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.items2 {
  height: auto;
  width: 550px;
  border-radius: 1rem;
  position: absolute;
  padding: 0 1.5rem;
  right: 100%;
  margin-inline: auto;
  animation-name: scrollHarizontal2;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  mask-image: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  z-index: 50;
}

.item1 {
  animation-delay: calc(70s / 4 * (4 - 1) * -1);
}
.item2 {
  animation-delay: calc(70s / 4 * (4 - 2) * -1);
}
.item3 {
  animation-delay: calc(70s / 4 * (4 - 3) * -1);
}
.item4 {
  animation-delay: calc(70s / 4 * (4 - 4) * -1);
}

.item5 {
  animation-delay: calc(70s / 4 * (4 - 1) * -1);
}
.item6 {
  animation-delay: calc(70s / 4 * (4 - 2) * -1);
}
.item7 {
  animation-delay: calc(70s / 4 * (4 - 3) * -1);
}
.item8 {
  animation-delay: calc(70s / 4 * (4 - 4) * -1);
}

.ptext {
  font-family: cursive;
}

@keyframes animateFamous {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(5px);
  }
}

.famousPic1 {
  animation: animateFamous 2s ease-in-out infinite;
}
.famousPic2 {
  animation: animateFamous 2s ease-in-out infinite;
  animation-delay: 1s;
}
.bg-project {
  background: rgb(171, 219, 245);
  background: linear-gradient(
    180deg,
    rgba(171, 219, 245, 1) 0%,
    rgba(254, 224, 65, 1) 100%
  );
}
.bg-sky {
  mask-image: drop-shadow(0 20px 130px rgba(243, 231, 57, 0.76))
    drop-shadow(0 8px 25px rgba(245, 232, 51, 0.08));
}
.skyPic {
  background-image: url("/img/khalifetower.jpg");
  width: 100%;
  height: 320vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-project {
  font-family: "bitter";
  font-weight: bold;
  color: #343a40;
}

.clip {
  width: 700px !important;
  height: 350px !important;
}
.card-article {
  position: relative;
  box-shadow: 0px 10px 16px 14px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
}
.card-data {
  width: 400px;
  background-color: #fff;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -10rem;
  right: 0;
  left: 0;
  margin-inline: auto;

  transition: opcity 1s 1s;
}

.card-data-two {
  background-color: #212428;
  box-shadow: 0 8px 24px hsla(0, 0%, 85%, 0.068);
}
.card-data-two .card-title {
  color: white;
}

.card-data-two .card-button {
  color: #14bd20;
}
.card-data-two .card-description {
  color: #b8b8b8;
}

.card-description {
  display: block;
  font-size: small;
  color: #343a40;
  margin-bottom: 0.3rem;
}
.card-title {
  font-weight: 500;
  color: black;
  margin-bottom: 0.75rem;
}
.card-button {
  text-decoration: none;
  font-size: smaller;
  font-weight: 500;
  color: #094d0d;
}
.card-button:hover {
  text-decoration: underline;
}

.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}
.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}
.container-btn:hover .icon-btn {
  transform: translateX(10px);
  transition: 0.5s;
}
.icon-btn {
  transition: 0.3s;
}
.gol {
  background-color: #fff;
  height: 300vh !important;
}
.works-title {
  font-family: "GeoSans" !important;
}
.bg-game {
  background: rgba(204, 204, 204, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
  border: 1px solid rgba(204, 204, 204, 0.05);
}

.icon-project {
  transition: 0.3s;
}
.icon-project:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

.clip-btn {
  transition: 0.3s;
}
.clip-btn:hover {
  background-color: #366a9e;
  transform: scale(1.09);
  transition: 0.3s;
}
.clip-btn:hover .link-btn {
  transition: 0.3s;
  opacity: 1;
}
.link-btn {
  transition: 0.3s;
  opacity: 0;
}
.icon-description {
  font-size: small;
}

@keyframes show-data {
  50% {
    transform: translateY(-11rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}
@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-11rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

.gifFooter {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.footer {
  height: 100%;
}
.footer-title {
  top: 0;
  position: absolute;
}
.container-footer {
  position: relative;
  mask-image: linear-gradient(
    to top,
    rgb(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 85%,
    rgb(0, 0, 0, 0)
  );
}
.footer-clip {
  opacity: 0.3;
  mask-image: linear-gradient(
    to left,
    rgb(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 40%,
    rgb(0, 0, 0, 0)
  );
  width: 90%;
}
.footer-details {
  width: 100%;
  padding: 1rem;
  position: absolute;
  transition: 0.5s;
  top: 50%;
}
.btn-footer {
  transition: 0.5s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: rgba(255, 243, 0, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14.9px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer-details:hover{
  transition: 0.5s;
  transform: scale(0.96) translateY(4px);
}
.footer-details:hover .btn-footer{
color: #fff;
transition: 0.5s;
background: rgba(0, 0, 0, 0.84);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(250, 246, 0, 0.425) 0px -12px 200px, rgba(221, 217, 1, 0.12) 0px 4px 160px,
rgba(236, 221, 1, 0.637) 0px 12px 150px, rgba(236, 240, 1, 0.09) 0px -3px 200px;
}
.icon-footer {
  padding: 10px;
  transition: 0.5s;
  margin-inline: 0.75rem;
}
.icon-footer:hover {
  transition: 0.5s;
  animation: borderAnimate 5s infinite;
  transform: scale(0.9);
}
@keyframes borderAnimate {
  0% {
    border-radius: 20% 50% 40% 70% / 52% 67% 40% 12%;
  }
  25% {
    border-radius: 50% 90% 10% 20% / 72% 37% 70% 92%;
  }
  50% {
    border-radius: 53% 70% 90% 20% / 90% 30% 50% 60%;
  }
  75% {
    border-radius: 33% 85% 34% 65% / 20% 19% 93% 40%;
  }
  100% {
    border-radius: 20% 50% 40% 70% / 52% 67% 40% 12%;
  }
}
