@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bitter";
  src:
  url(../public/fonts/Bitter/static/Bitter-Bold.ttf) format("truetype"),
  url(../public/fonts/Bitter/static/Bitter-ExtraBold.ttf) format("truetype"),
  url(../public/fonts/Bitter/static/Bitter-Light.ttf) format("truetype");
}
@font-face {
  font-family: "GeoSans";
  src: url(../public/fonts/geo_sans_light/GeosansLight-Oblique.ttf) format("truetype"),
  url(../public/fonts/geo_sans_light/GeosansLight.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src:
  url(../public/fonts/Merriweather/Merriweather-Bold.ttf)format("truetype"),;
}
body{
  font-family: "Merriweather";
 background-color: black;
}
.scroll-watch {
  height: 8px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #414141;
  width: 100%;
  scale: 0 1; 
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {scale: 1 1;}
}

